# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
from google_key import google_key as api
import matplotlib.pyplot as plt
from citipy import citipy
import scipy.stats as sp
import pandas as pd
import numpy as np
import requests
import gmaps
import os

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [6]:
df = pd.read_csv("../Weather/output_data/cities.csv")
df.head()

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp(f),Humidity,Wind Speed,Cloudiness
0,0,Rawson,AR,1586061297,-43.30,-65.10,55.87,39,10.76,0
1,1,Rikitea,PF,1586061297,-23.12,-134.97,75.65,75,17.63,4
2,2,Ternate,ID,1586061298,0.80,127.40,84.78,69,7.70,96
3,3,Ushuaia,AR,1586061019,-54.80,-68.30,39.20,80,11.41,20
4,4,Bennettsville,US,1586061298,34.62,-79.68,59.00,66,3.36,1

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [8]:
# Configure Gmaps
gmaps.configure(api_key=api)

In [9]:
# Use the Lat and Lng as locations and Humidity as the weight.
locations = df[["Latitude", "Longitude"]].astype(float)

In [26]:
# Initialize (Heat)map
gmap = gmaps.figure()

gmap_layer = gmaps.heatmap_layer(
    locations, 
    weights=df["Humidity"],
    dissipating=False,
    max_intensity=100,
    point_radius = 1
)
gmap.add_layer(gmap_layer)
gmap

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [36]:
# Narrow down the DataFrame to find your ideal weather condition. For example:
#     - A max temperature lower than 80 degrees but higher than 70.
#     - Wind speed less than 10 mph.
#     - Zero cloudiness.
#     - Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.
#
# Note: Feel free to adjust to your specifications but be sure to limit the number of rows returned by 
#       your API requests to a reasonable number.

In [35]:
vacation_spot = df[
    (df['Max Temp(f)'] > 70) & 
    (df['Max Temp(f)'] < 80) &
    (df['Wind Speed'] < 10.00) &
    (df['Cloudiness'] == 0)
]
vacation_spot

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp(f),Humidity,Wind Speed,Cloudiness
6,6,Port Macquarie,AU,1586061299,-31.43,152.92,75.20,41,5.82,0
196,196,Rūdbār,AF,1586061343,30.15,62.60,79.95,21,6.35,0
217,217,Cockburn Town,TC,1586061347,21.46,-71.14,75.25,58,7.58,0
269,269,Tessalit,ML,1586061359,20.20,1.01,71.20,15,4.38,0
313,313,Taoudenni,ML,1586061369,22.68,-3.98,72.37,19,6.78,0
314,314,Sawtell,AU,1586061369,-30.38,153.10,77.00,46,8.05,0
409,409,Araouane,ML,1586061106,18.90,-3.53,77.65,15,8.23,0
446,446,Tombouctou,ML,1586061401,20.00,-3.00,76.59,15,9.06,0
523,523,Jām Sāhib,PK,1586061417,26.30,68.63,78.80,54,9.17,0
584,584,São Miguel do Araguaia,BR,1586061431,-13.28,-50.16,73.20,76,2.39,0

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [97]:
# Store into hotel_df
hotel_df = pd.DataFrame(data=vacation_spot)

In [98]:
# Add a "Hotel Name" column into the DataFrame
hotel_df.loc[:,'Hotel Name'] = np.nan

In [99]:
# Set parameters to search for hotels within 5000 meters
target_radius = 5000
target_type = "hotel"
target_search = "hotel"

In [110]:
# Hit the Google Places API for each city's coordinates

hotel_list = []

for coords in hotel_df["Coordinates"]:
    params = {
        "location": coords,
        "keyword": target_search,
        "radius": target_radius,
        "type": target_type,
        "key": api
    }
    
    gmaps_json = requests.get("https://maps.googleapis.com/maps/api/place/nearbysearch/json", params=params).json()
    
    try:
        hotel_list.append(response["results"][0]["name"])
        
    except:
        hotel_list.append("N/A")
        print(f"No hotels within 5km of {location}.")

hotel_df["Hotel Name"] = hotel_list
hotel_df

No hotels within 5000m of 30.15,62.6, hotel noted as ***None Found***
No hotels within 5000m of 20.2,1.01, hotel noted as ***None Found***
No hotels within 5000m of 22.68,-3.98, hotel noted as ***None Found***
No hotels within 5000m of -30.38,153.1, hotel noted as ***None Found***
No hotels within 5000m of 18.9,-3.53, hotel noted as ***None Found***
No hotels within 5000m of 20.0,-3.0, hotel noted as ***None Found***
No hotels within 5000m of 26.3,68.63, hotel noted as ***None Found***

,Unnamed: 0,City,Country,Date,Latitude,Longitude,Max Temp(f),Humidity,Wind Speed,Cloudiness,Hotel Name,Coordinates
6,6,Port Macquarie,AU,1586061299,-31.43,152.92,75.20,41,5.82,0,Sails Port Macquarie by Rydges,"-31.43,152.92"
196,196,Rūdbār,AF,1586061343,30.15,62.60,79.95,21,6.35,0,***None Found***,"30.15,62.6"
217,217,Cockburn Town,TC,1586061347,21.46,-71.14,75.25,58,7.58,0,Osprey Beach Hotel,"21.46,-71.14"
269,269,Tessalit,ML,1586061359,20.20,1.01,71.20,15,4.38,0,***None Found***,"20.2,1.01"
313,313,Taoudenni,ML,1586061369,22.68,-3.98,72.37,19,6.78,0,***None Found***,"22.68,-3.98"
314,314,Sawtell,AU,1586061369,-30.38,153.10,77.00,46,8.05,0,***None Found***,"-30.38,153.1"
409,409,Araouane,ML,1586061106,18.90,-3.53,77.65,15,8.23,0,***None Found***,"18.9,-3.53"
446,446,Tombouctou,ML,1586061401,20.00,-3.00,76.59,15,9.06,0,***None Found***,"20.0,-3.0"
523,523,Jām Sāhib,PK,1586061417,26.30,68.63,78.80,54,9.17,0,***None Found***,"26.3,68.63"
584,584,São Miguel do Araguaia,BR,1586061431,-13.28,-50.16,73.20,76,2.39,0,Hotel Veredas do Araguaia,"-13.28,-50.16"

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display Map